<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Test edge ">
        <classes>
            <class name="Test.TestPages">
                <methods>
                    <include name="Recherche_element"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="Test Chrome">
        <classes>
            <class name="Test.TestPages">
                <methods>
                    <include name="Recherche_element"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>


